@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

#home .header {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 17px);
  position: sticky;
  top: 0;
  background-color: #377ae6;
}

#home .header .logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}
#home .header .header-logo {
  width: 20%;
  height: auto;
}
#home .header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

#home .header .menu-item {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  text-transform: Capitalize;
  font-weight: bold;
}

#home .header .menu-item:hover {
  color: #2596be;
}

#home .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 5%;
}

#home {
  background-color: tomato;
}

#home .banner {
  height: 100vh;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#home .title {
  color: white;
}

#home .subtitle {
  color: yellow;
}

#home .description {
  color: coral;
}
