@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,900;1,200;1,400;1,600;1,900&display=swap");

:root {
   --color-font-light: #ffffff;
   --color-font-dark: #000000;
   --color-font-grey: #272727;
   --color-font-highlight: #ff414f;

   --gradient-primary-fallback: #ff42ae;
   --gradient-primary: linear-gradient(90deg, rgba(255,64,80,1) 0%, rgba(254,100,133,1) 45%, rgba(255,67,176,1) 100%);
   --gradient-primary-reverse: linear-gradient(180deg, rgba(255,64,80,1) 0%, rgba(254,100,133,1) 45%, rgba(255,67,176,1) 100%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}

#home .header {
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 17px);
  position: sticky;
  top: 0;
  background-color: #377ae6;
}

#home .header .logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5%;
}
#home .header .header-logo {
  width: 20%;
  height: auto;
}
#home .header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

#home .header .menu-item {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  text-transform: Capitalize;
  font-weight: bold;
}

#home .header .menu-item:hover {
  color: #2596be;
}

#home .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 5%;
}

#home {
  background-color: tomato;
}

#home .banner {
  height: 100vh;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .banner-container {
  width: 100%;
  max-width: clamp(90vw, 100vw ,70vw);
  text-align: center;
  display: flex;
  flex-direction: column;
}

#home .banner .title {
  color: var(--color-font-light);
  font-size: clamp(13px, 5vw, 35px);
  font-weight: normal;
  padding-bottom: 30px;
}

#home .banner .subtitle {
  color: var(--color-font-light);
  font-size: clamp(19px, 5vw, 48px);
  font-weight: 600;
}

#home .banner .link {
  transition: background-image 1s ease; 
  color: var(--color-font-light);
  font-size: 16px;
  font-weight: bold;
  background-image: var(--gradient-primary-fallback);
  background-image: var(--gradient-primary);
  padding: 10px 20px;
  margin-top: 15px;
  max-width: 200px;
  align-self: center;
  text-decoration: none;
}


#home .banner .link:hover {
  background-image: var(--gradient-primary-reverse);
}