.common-container-default {
    padding: 60px 10%;
}

.common-title-dark {
    padding-bottom: 60px;
    font-size: var(--font-size-title);
}

.common-title-dark.small-padding {
    padding-bottom: 30px;
}

.common-title-dark span {
    color: var(--color-font-highlight);
}

.common-title-light {
    color: var(--color-font-light);
    font-size: var(--font-size-title);
    text-transform: capitalize;
}

.common-title-light.small-padding {
    padding-bottom: 30px;
}

.common-link-gradient {
    transition: background-image 1s ease;
    color: var(--color-font-light);
    font-size: 16px;
    font-weight: 800;
    background-image: var(--gradient-primary-fallback);
    background-image: var(--gradient-primary);
    padding: 10px 20px;
    margin-top: 15px;
    max-width: 200px;
    align-self: center;
    text-decoration: none;
}

.common-link-gradient:hover {
    background-image: var(--gradient-primary-reverse);
}